In [1]:
# Importing relevant libraries needed for PA
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import statistics
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('C://Users//cseba//Documents//WGU//D209 Data Mining I//churn_clean.csv')

In [3]:
df.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   UID                   10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  TimeZone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              10000 non-null  int64
 15  Age                   10000 non-null  int64
 16  Income                10000 non-null  float64
 17  Marital               10000 non-null  object
 18  Gender                10000 non-null  object
 19  Churn                 10000 non-null  object
 20  Outage_sec_perweek    10000 non-null  float64
 21  Email                 10000 non-null  int64
 22  Contacts              10000 non-null  int64
 23  Yearly_equip_failure  10000 non-null  int64
 24  Techie                10000 non-null  object
 25  Contract              10000 non-null  object
 26  Port_modem            10000 non-null  object
 27  Tablet                10000 non-null  object
 28  InternetService       10000 non-null  object
 29  Phone                 10000 non-null  object
 30  Multiple              10000 non-null  object
 31  OnlineSecurity        10000 non-null  object
 32  OnlineBackup          10000 non-null  object
 33  DeviceProtection      10000 non-null  object
 34  TechSupport           10000 non-null  object
 35  StreamingTV           10000 non-null  object
 36  StreamingMovies       10000 non-null  object
 37  PaperlessBilling      10000 non-null  object
 38  PaymentMethod         10000 non-null  object
 39  Tenure                10000 non-null  float64
 40  MonthlyCharge         10000 non-null  float64
 41  Bandwidth_GB_Year     10000 non-null  float64
 42  Item1                 10000 non-null  int64
 43  Item2                 10000 non-null  int64
 44  Item3                 10000 non-null  int64
 45  Item4                 10000 non-null  int64
 46  Item5                 10000 non-null  int64
 47  Item6                 10000 non-null  int64
 48  Item7                 10000 non-null  int64
 49  Item8                 10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [5]:
df = df.drop(columns=['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 
                     'Zip', 'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job', 'Children', 
                     'Marital', 'Gender', 'Techie', 'Contract', 'Port_modem', 'Tablet', 'InternetService', 
                     'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 
                     'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Item1', 'Item2', 
                     'Item3', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   10000 non-null  int64
 1   Income                10000 non-null  float64
 2   Churn                 10000 non-null  object
 3   Outage_sec_perweek    10000 non-null  float64
 4   Email                 10000 non-null  int64
 5   Contacts              10000 non-null  int64
 6   Yearly_equip_failure  10000 non-null  int64
 7   Tenure                10000 non-null  float64
 8   MonthlyCharge         10000 non-null  float64
 9   Bandwidth_GB_Year     10000 non-null  float64
dtypes: float64(5), int64(4), object(1)
memory usage: 781.4+ KB

In [6]:
# check and remove duplicates
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Age, Income, Churn, Outage_sec_perweek, Email, Contacts, Yearly_equip_failure, Tenure, MonthlyCharge, Bandwidth_GB_Year]
Index: []

In [7]:
# to double check if any duplicates were removed by counting number of rows in dataset 
len(df)

10000

In [8]:
# use pandas' get_dummies feature to convert all categorical variables into nominal and dropping the
# level K1 variables. In this case, it's only Churn.
df = pd.get_dummies(df, drop_first =True)

In [9]:
# confirm Churn was converted into nominal data and verifying data type.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   10000 non-null  int64
 1   Income                10000 non-null  float64
 2   Outage_sec_perweek    10000 non-null  float64
 3   Email                 10000 non-null  int64
 4   Contacts              10000 non-null  int64
 5   Yearly_equip_failure  10000 non-null  int64
 6   Tenure                10000 non-null  float64
 7   MonthlyCharge         10000 non-null  float64
 8   Bandwidth_GB_Year     10000 non-null  float64
 9   Churn_Yes             10000 non-null  uint8
dtypes: float64(5), int64(4), uint8(1)
memory usage: 713.0 KB

In [10]:
df.describe()

,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Churn_Yes
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,53.078400,39806.926771,10.001848,12.016000,0.994200,0.398000,34.526188,172.624816,3392.341550,0.265000
std,20.698882,28199.916702,2.976019,3.025898,0.988466,0.635953,26.443063,42.943094,2185.294852,0.441355
min,18.000000,348.670000,0.099747,1.000000,0.000000,0.000000,1.000259,79.978860,155.506715,0.000000
25%,35.000000,19224.717500,8.018214,10.000000,0.000000,0.000000,7.917694,139.979239,1236.470827,0.000000
50%,53.000000,33170.605000,10.018560,12.000000,1.000000,0.000000,35.430507,167.484700,3279.536903,0.000000
75%,71.000000,53246.170000,11.969485,14.000000,2.000000,1.000000,61.479795,200.734725,5586.141370,1.000000
max,89.000000,258900.700000,21.207230,23.000000,7.000000,6.000000,71.999280,290.160419,7158.981530,1.000000

In [11]:
# Checking statistic on all variables and dropping all variables with Z scores of 3 or more to remove
# anomalies and outliers.
df = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

In [12]:
# Confirm outliers and anomalies were dropped by number of rows of dataset remaining.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9563 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9563 non-null   int64
 1   Income                9563 non-null   float64
 2   Outage_sec_perweek    9563 non-null   float64
 3   Email                 9563 non-null   int64
 4   Contacts              9563 non-null   int64
 5   Yearly_equip_failure  9563 non-null   int64
 6   Tenure                9563 non-null   float64
 7   MonthlyCharge         9563 non-null   float64
 8   Bandwidth_GB_Year     9563 non-null   float64
 9   Churn_Yes             9563 non-null   uint8
dtypes: float64(5), int64(4), uint8(1)
memory usage: 756.4 KB

In [13]:
# change uint8 and float64 data type variables into int64 for statistical analysis.
df["Income"] = df["Income"].astype(np.int64)
df["Outage_sec_perweek"] = df["Outage_sec_perweek"].astype(np.int64)
df["Tenure"] = df["Tenure"].astype(np.int64)
df["MonthlyCharge"] = df["MonthlyCharge"].astype(np.int64)
df["Bandwidth_GB_Year"] = df["Bandwidth_GB_Year"].astype(np.int64)
df["Churn_Yes"] = df["Churn_Yes"].astype(np.int64)

In [14]:
# Confirm all features have newly converted data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9563 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   9563 non-null   int64
 1   Income                9563 non-null   int64
 2   Outage_sec_perweek    9563 non-null   int64
 3   Email                 9563 non-null   int64
 4   Contacts              9563 non-null   int64
 5   Yearly_equip_failure  9563 non-null   int64
 6   Tenure                9563 non-null   int64
 7   MonthlyCharge         9563 non-null   int64
 8   Bandwidth_GB_Year     9563 non-null   int64
 9   Churn_Yes             9563 non-null   int64
dtypes: int64(10)
memory usage: 821.8 KB

In [15]:
X = df.drop(['Churn_Yes'],1)
y = df['Churn_Yes']
print(X.shape)
print(y.shape)

(9563, 9)
(9563,)

In [16]:
feature_names = X.columns
# Initialize the class and call fit_transform

skbest = SelectKBest(score_func = f_classif, k='all')
X_new = skbest.fit_transform(X, y)
X_new.shape

(9563, 9)

In [17]:
# Finding P-values to select statistically significant features
p_values = pd.DataFrame({'Feature': X.columns, 'p_value':skbest.pvalues_}).sort_values('p_value') 
p_values[p_values['p_value'] < .05]
features_to_keep = p_values['Feature'][p_values['p_value'] < .05]
# Print the name of the selected features
features_to_keep

6               Tenure
8    Bandwidth_GB_Year
7        MonthlyCharge
Name: Feature, dtype: object

In [18]:
df = df.drop(columns=['Age', 'Email', 'Contacts', 'Yearly_equip_failure'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9563 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Income              9563 non-null   int64
 1   Outage_sec_perweek  9563 non-null   int64
 2   Tenure              9563 non-null   int64
 3   MonthlyCharge       9563 non-null   int64
 4   Bandwidth_GB_Year   9563 non-null   int64
 5   Churn_Yes           9563 non-null   int64
dtypes: int64(6)
memory usage: 523.0 KB

In [20]:
# Standardization of data with StandardScaler to ensure distances for predictions are accurate for
# features when measured on different scales of values.
scaler = StandardScaler()
df_pred = df.drop(['Churn_Yes'], axis = 1)
df_pred_std = pd.DataFrame(scaler.fit_transform(df_pred), columns = df_pred.columns)
df_resp = df['Churn_Yes']
frames = [df_resp, df_pred_std]
df_std = pd.concat(frames, axis = 1)
print(df_std.head())

   Churn_Yes    Income  Outage_sec_perweek    Tenure  MonthlyCharge  \
0        0.0 -0.387887           -0.847890 -1.057605       0.000840
1        1.0 -0.661565            0.507515 -1.246603       1.626284
2        0.0 -1.144301            0.168664 -0.717408      -0.301028
3        0.0 -0.772480            1.524069 -0.641808      -1.229853
4        1.0  0.071621           -0.509039 -1.246603      -0.533234

   Bandwidth_GB_Year
0          -1.135767
1          -1.183324
2          -0.609901
3          -0.559601
4          -1.425222

In [21]:
# confirm changes
df_std.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9975 entries, 0 to 9546
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Churn_Yes           9563 non-null   float64
 1   Income              9563 non-null   float64
 2   Outage_sec_perweek  9563 non-null   float64
 3   Tenure              9563 non-null   float64
 4   MonthlyCharge       9563 non-null   float64
 5   Bandwidth_GB_Year   9563 non-null   float64
dtypes: float64(6)
memory usage: 545.5 KB

In [22]:
print(df_std.isna().sum())

Churn_Yes             412
Income                412
Outage_sec_perweek    412
Tenure                412
MonthlyCharge         412
Bandwidth_GB_Year     412
dtype: int64

In [23]:
df_std = df_std.dropna()

In [24]:
# Check number of rows and columns in dataset. This concludes the data cleaning step.
df_std.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9151 entries, 0 to 9562
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Churn_Yes           9151 non-null   float64
 1   Income              9151 non-null   float64
 2   Outage_sec_perweek  9151 non-null   float64
 3   Tenure              9151 non-null   float64
 4   MonthlyCharge       9151 non-null   float64
 5   Bandwidth_GB_Year   9151 non-null   float64
dtypes: float64(6)
memory usage: 500.4 KB

In [25]:
# Extract cleaned dataframe as it is ready for data mining - predictive analysis using Lasso regression method.
df_std.to_csv(r'C:\Users\cseba\Documents\WGU\D209 Data Mining I\Task 2\D209_Prepared_Dataset_Predictive_Analysis_Task_2.csv')